#logo {
  font-family: "Georgia", Times, Times New Roman, serif;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

/* body {
    height: 80%;
    background-image: url("../images/nki.PNG");
    <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">

    /* width: 100%; */
    /* background-position: cover; */
    /* background-repeat: repeat;
    align-content: auto; */



/* } */
.block-header {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 30px;
  color:white; 
  
  
}
.work {
  font-family: "Georgia", Times, Times New Roman, serif;
  text-align: right;
  color: #0000A0;
  font-size: 30px;
}

.git-image {
  height: 80px;
  width: 50px;
  padding-bottom: 10px;

}

footer {
  border-top: 10px solid #0000A0;
  position:static;
  bottom: -130px;
  width: 100%;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
